@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Cabin', sans-serif;
    background: rgb(1,1,25);
    background: linear-gradient(90deg, rgba(1,1,25,1) 0%, rgba(33,22,167,1) 35%, rgba(4,140,244,0.7721463585434174) 100%);
    color: white;
}

/*Header*/

.title_top{
    padding: 40px;
    font-size: 45px;
}

/*Header-icones*/

.icones ul{
    position: absolute;  
    margin-right: 10px;
    margin-top: -120px;
    right: 40px;
}

li {
    text-decoration: none;
    display: inline-block;
}
.icones ul li a img:hover{
    cursor: pointer;
    top: -20px;
}

.icones ul li a img{
    width: 50px;
    margin: 10px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

/*Main*/

.box{
    margin:60px;
    padding: 60px;
    text-align: center;
}
.title_mid{
    font-size: 145px;
}


.title_bot{
    font-size: 185px;
}

main .box p{
    text-align: center;
    margin-bottom: 0;
    text-indent: 2.6em;
}

footer p{
    text-align: center;
}